@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=League+Spartan:wght@100&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap');

/* landing page starts here */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    background-color: #012D74;
    padding: 20px;
    font-family: 'Goldman', sans-serif;
}

.navbar-brand img {
    width: 200px;
    height: auto;
    margin-right: 40px;
    margin-left: 50px;
    padding: 10px 20px;
}

.nav-link {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.nav-item {
    padding: 10px 20px;
}

.navbar-nav .nav-link {
    position: relative;
    color: #FFF;
}

.navbar-nav .nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #FFF;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-in-out;
    color: #FFF;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link:hover:after {
    transform: scaleX(1);
}

.carousel-item {
    position: relative;
}

.text-overlay {
    background-color: transparent;
    border: none;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

#card-banner {
    background-color: transparent;
    border: none;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    max-width: 90%;

}

.card-text {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.section-card {
    transition: transform 0.3s;
}

.section-card:hover {
    transform: scale(1.05);
    background-color: #022050;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.primary-btn {
    margin-top: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px #FFF solid;
    border-color: #FFF;
    color: #FFF;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.primary-btn:hover {
    color: #FFF;
    background-color: #134996;
    border: #134996;
}

.services-header-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #012D74;
}

.services-underline {
    display: block;
    margin: 0 auto;
    width: 15%;
    border: 3px solid #012D74;
    border-radius: 50px;
}

.section-card {
    background-color: #012D74;
    border-radius: 20px;
    height: max-content;
}

.card-icon {
    font-size: 100px;
    color: #FFF;
    height: 120px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.section-card-header {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 25px;
}

.section-card-paragraph {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
}

.manufacturers-header-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #012D74;
}

.manufacturers-underline {
    display: block;
    margin: 0 auto;
    width: 45%;
    border: 3px solid #012D74;
    border-radius: 50px;
}

.manufacture-paragraph {
    color: #012D74;
}

.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    border: none;
}

.btn-primary {
    font-size: 20px;
    border-radius: 50%;
    width: auto;
    transition: transform 0.2s;
    border: none;
}

.btn-primary:hover {
    border: none;
    transform: scale(1.1);
}

.row {
    justify-content: center;
}

.footer-bg {
    background-color: #E6EDF8;
    height: 100%;
}

.footer-copyright {
    background-color: #022050;
    color: #FFF;
    height: 100px;
    justify-content: center;
}

.footer-copyright {
    background-color: #022050;
    color: #FFF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 30px;
    width: auto;
}

.text-white {
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

.footer-text {
    padding: 10px 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #134996;
    cursor: default;
}

.footer-icon {
    font-size: 100px;
    padding: 10px 20px;
    color: #134996;
    margin: 20px 0px;
    text-align: center;
}

.footer-label {
    font-size: 30px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: #012D74;
}

.sub-footer-text {
    text-decoration: none;
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

.list-alignment {
    text-align: left;
}

.fa-phone,
.fa-envelope {
    margin-right: 15px;
    text-indent: 67px;
}

/* landing page ends here */

/* services page starts here */
.general-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #012D74;
}

.general-header-underline {
    display: block;
    margin: 0 auto;
    width: 10%;
    border: 3px solid #012D74;
    border-radius: 50px;
}

.row-card {
    border: none;
    border-radius: 0px;
}

.card-general-icon {
    font-size: 100px;
    color: #012D74;
}

.card-general-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #c1c1c1;
    border-radius: 0px;
    padding-bottom: 20px;
}

.book-now-btn {
    border: none;
    background-color: transparent;
}

.book-now-btn a {
    width: 200px;
    background-color: #012D74;
    border-radius: 50px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.book-now-btn a:hover {
    background-color: #022050;
}

.installation-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #FFF;
}

.installation-header-underline {
    display: block;
    margin: 0 auto;
    width: 13%;
    border: 3px solid #FFF !important;
    border-radius: 50px;
}

.section-content-installation {
    background-color: #012D74;
    height: 100%;
}

.card-installation-icon {
    font-size: 100px;
    color: #fff;
}

.second-row-card {
    background-color: transparent;
    border: none;
}

.card-installation-text {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #c1c1c1;
    border-radius: 0px;
    padding-bottom: 20px;
}

.book-now-btn-ins {
    border: none;
    background-color: transparent;
}

.book-now-btn-ins a {
    width: 200px;
    background-color: #FFF;
    border-radius: 50px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto 0;
    color: #012D74;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.book-now-btn-ins a:hover {
    background-color: #e8f4f8;
}

/* services page ends here */

/* clients page starts here */

.bg-image {
    background-image: url('clientimg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.img-para {
    color: white;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.client-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
}

.client-header-underline {
    display: block;
    margin: 0 auto;
    width: 23%;
    border: 3px solid #000;
    border-radius: 50px;
}

.clients-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
}

.feedback-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 20px;
}

.fb-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}

.clientname-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #012D74;
    font-size: 15px;
    font-style: italic;
}

.feedback-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
}

.feedback-header-underline {
    display: block;
    margin: 0 auto;
    width: 20%;
    border: 3px solid #000;
    border-radius: 50px;
}

.feedback-icon {
    font-size: 100px;
    color: #012D74;
}

.family-header {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000;
}

.family-header-underline {
    display: block;
    margin: 0 auto;
    width: 20%;
    border: 3px solid #000;
    border-radius: 50px;
}

/* clients page ends here */

/* Solar Panel Installation page starts here */

.back-icon a {
    margin-top: 50px;
    padding: 10px 20px;
    align-items: center;
    align-items: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.back-arrow {
    color: #012D74;
    font-size: 30px;
}

.solar-ins-header {
    padding: 10px 20px;
}

.form-container {
    margin-top: 50px;
}

.form-group input {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
    border-color: #012D74;
}

.form-group select {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    padding-right: 30px;
    /* Adjust padding for the icon */
}

.form-group select:focus {
    outline: none;
    box-shadow: none;
    border-color: #80bdff;
}

.select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form-submit-btn {
    border: none;
    background-color: #012D74;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 50px;
    width: 300px;
}

/* Solar Panel Installation page ends here */

@media (min-width: 0px) and (max-width: 300px) {
    .card-text {
        font-size: 8px;
    }

    .btn {
        font-size: 6px;
    }

    .img-card img {
        height: auto;
        width: 200px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 301px) and (max-width: 576px) {
    .card-text {
        font-size: 15px;
    }

    .btn {
        font-size: 10px;
    }

    .img-card img {
        height: auto;
        width: 200px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-phone,
    .fa-envelope {
        text-indent: 0px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .card-text {
        font-size: 20px;
    }

    .btn {
        font-size: 12px;
    }

    .img-card img {
        height: auto;
        width: 200px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .card-text {
        font-size: 25px;
    }

    .btn {
        font-size: 14px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .nav-link {
        font-size: 16px;
    }

    .card-text {
        font-size: 35px;
    }

    .btn {
        font-size: 16px;
    }

    .section-card-header {
        font-size: 18px;
    }

    .section-card-paragraph {
        font-size: 14px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .card-text {
        font-size: 40px;
    }

    .btn {
        font-size: 18px;
    }

    .section-card-header {
        font-size: 21px;
    }

    .section-card-paragraph {
        font-size: 16px;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .card-text {
        font-size: 45px;
    }

    .btn {
        font-size: 20px;
    }

    .section-card-header {
        font-size: 23px;
    }

    .section-card-paragraph {
        font-size: 18px;
    }
}